<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="zskj.jkxt">

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>

    <!-- android:screenOrientation="landscape" -->
    <application
        android:name=".JKXTApplication"
        android:allowBackup="true"
        android:icon="@drawable/favicon3"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MonitorDetailActivity"
            android:label="@string/monitor_page"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".util.ConnectionChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.AddUserActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.UpdateUserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.NewMainActivity">
        </activity>
        <activity android:name=".ui.activity.StationInfoActivity">
        </activity>
        <activity android:name=".ui.activity.LineCharOfStationsPowerActivity">
        </activity>
        <activity android:name=".ui.activity.AnotherTestActivity">
        </activity>
        <activity android:name=".ui.activity.StatisticalDataActivity">
        </activity>
    </application>

</manifest>